<a href="https://colab.research.google.com/github/bagcakaya/StatisticLastLesson/blob/main/StatisticLastLesson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [7]:
1 - stats.binom.cdf(4, 10, 0.5)

0.6230468749999999

In [8]:
stats.norm.cdf(1.73)-stats.norm.cdf(0)

0.4581848623864051

In [9]:
stats.norm.cdf(90, 75, 10) - stats.norm.cdf(80, 75, 10)

0.2417303374571288

In [10]:
stats.t.ppf(0.05, 15)

-1.7530503556925552

In [11]:
stats.t.ppf(0.01, 19)

-2.5394831906222888

In [12]:
stats.t.cdf(-0.894, 19)

0.19125344283171025

In [13]:
x = [91.50, 94.18, 92.18, 95.39, 91.79, 89.07, 94.72, 89.21, 89.19, 90.95, 90.46, 93.21, 97.19, 97.04, 91.07, 92.75]
group = [1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2]
df = pd.DataFrame({"yield":x, "group":group})
df

    yield  group
0   91.50      1
1   94.18      1
2   92.18      1
3   95.39      1
4   91.79      1
5   89.07      1
6   94.72      1
7   89.21      1
8   89.19      2
9   90.95      2
10  90.46      2
11  93.21      2
12  97.19      2
13  97.04      2
14  91.07      2
15  92.75      2

In [15]:
indTest = stats.ttest_ind(df[df.group==1]["yield"],  df[df.group==2]["yield"])
indTest

Ttest_indResult(statistic=-0.3535908643461798, pvalue=0.7289136186068217)

In [16]:
indTest.statistic

-0.3535908643461798

In [17]:
indTest.pvalue

0.7289136186068217

In [18]:
# Decision
alpha = 0.05
if indTest.pvalue < alpha:
    print("Reject the Null")
else:
    print("Fail to reject")

Fail to reject

In [21]:
indTest = stats.ttest_ind_from_stats(mean1=92.255, std1= 2.39, nobs1 =8,
                           mean2=92.733, std2= 2.98, nobs2=8)
indTest

Ttest_indResult(statistic=-0.353922390875553, pvalue=0.7286705530970293)

In [29]:
indTest1 = stats.ttest_ind_from_stats(mean1= 10.67, std1= 3.895, nobs1= 500, 
                                      mean2= 7.83, std2= 4.224, nobs2= 400)
indTest1

Ttest_indResult(statistic=10.4676374161062, pvalue=2.8400233039750524e-24)